html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;

}

body {
	font-size: 62.5%;
	font-family: 'adelle-sans', san-serif;
}

.indicator {
    width: 29px;
    height: 29px;
}

#background {
    width: 1527px;
    height: 1143px;
}

#contact_icon {
    position: absolute;
    left: 739px;
    top: 210px;
    width: 78px;
    z-index: 1;
}

#A1 {
    position: absolute;
    left: 393px;
    top: 600px;
    z-index: 1;
}

#A2 {
    position: absolute;
    left: 431px;
    top: 600px;
    z-index: 1;
}

#A3 {
    position: absolute;
    left: 470px;
    top: 600px;
    z-index: 1;
}

#A4 {
    position: absolute;
    left: 509px;
    top: 600px;
    z-index: 1;
}

#C1 {
    position: absolute;
    left: 547px;
    top: 600px;
    z-index: 1;
}

#C2 {
    position: absolute;
    left: 586px;
    top: 600px;
    z-index: 1;
}

#C3 {
    position: absolute;
    left: 625px;
    top: 600px;
    z-index: 1;
}

#C4 {
    position: absolute;
    left: 663px;
    top: 600px;
    z-index: 1;
}

#B1 {
    position: absolute;
    left: 393px;
    top: 777px;
    z-index: 1;
}

#B2 {
    position: absolute;
    left: 432px;
    top: 777px;
    z-index: 1;
}

#B3 {
    position: absolute;
    left: 469px;
    top: 777px;
    z-index: 1;
}

#B4 {
    position: absolute;
    left: 508px;
    top: 777px;
    z-index: 1;
}

#D1 {
    position: absolute;
    left: 548px;
    top: 777px;
    z-index: 1;
}

#D2 {
    position: absolute;
    left: 586px;
    top: 777px;
    z-index: 1;
}

#D3 {
    position: absolute;
    left: 624px;
    top: 777px;
    z-index: 1;
}

#D4 {
    position: absolute;
    left: 661px;
    top: 777px;
    z-index: 1;
}

#E1 {
    position: absolute;
    left: 702px;
    top: 600px;
    z-index: 1;
}

#E2 {
    position: absolute;
    left: 741px;
    top: 600px;
    z-index: 1;
}

#E3 {
    position: absolute;
    left: 780px;
    top: 600px;
    z-index: 1;
}

#E4 {
    position: absolute;
    left: 818px;
    top: 600px;
    z-index: 1;
}

#F1 {
    position: absolute;
    left: 857px;
    top: 600px;
    z-index: 1;
}

#F2 {
    position: absolute;
    left: 896px;
    top: 600px;
    z-index: 1;
}

#F3 {
    position: absolute;
    left: 935px;
    top: 600px;
    z-index: 1;
}

#F4 {
    position: absolute;
    left: 973px;
    top: 600px;
    z-index: 1;
}

#logout {
    position: absolute;
    left: 1173px;
    top: 50px;
    z-index: 1;
}
